<!DOCTYPE html>
{%  load static  %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>Network Analysis</title>
    <style>
      .errorlist{
        list-style-type: none;
        color: red;
        font-weight: bold;
        padding-left: 0;
      }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Network Analysis</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'main_app:index' %}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main_app:forms' %}">Form <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main_app:tables' %}">Table</a>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main_app:graph' %}">Graph</a>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main_app:register' %}">Register</a>
            </li>
            {% if user.is_authenticated %}
              <li>
                <a class="nav-link" href="{% url 'main_app:logout' %}">Logout</a>
              </li>
            {% else %}
              <li>
                <a class="nav-link" href="{% url 'main_app:user_login' %}">Login</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
      <div class="container mt-5">
          
          {% block body_block %}
              
          {% endblock body_block %}
              
      </div>
</body>
</html>